## App packaging
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Xcode
xcuserdata
*.xcodeproj

# Swift Package Manager
Packages
.build

# Mac
.DS_Store

# LLVM Code Coverage maps
# Ignored while it appears as Xcode's left over of code Coverage
default.profraw